
    <pre>{{form.value | json}}</pre>

 <form [formGroup] = "form" (ngSubmit) = "onSubmit()">


  <div *ngFor = "let parent of treeArrObjects; let i = index">

    <div [formArrayName]="parent.name">
    {{parent.name}} :
    <div *ngFor="let exp of parent.name.controls; let j=index">
      <div [formGroupName]="j">
      <div *ngFor = "let obj of childrentObjects1[parent.name] | keyvalue">
        {{obj.key}}
      </div>

     
    </div>
  </div>
    </div>

  </div>
 </form>

   <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor = "let parent of treeArrObjects; let i = index">
   {{i}}:  {{parent.name}}
   
      <div *ngFor = "let child of parent['children']; let j = index">
        {{parent.childObj[child]}}
      </div>
       <div *ngFor = "let child of parent.childObj | keyvalue">
         {{child.key}}
         
      </div>
  </div>
   </form>