



   <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor = "let parent of treeMainDs; let i = index">

      <div [formArrayName]="parent.name">
   {{i+1}}:  {{parent.name}}
   
      <div *ngFor = "let child of parent['children']; let j = index">
        {{parent.childObj[child]}}
      </div>
       <div *ngFor = "let child of parent.childObj | keyvalue">
         {{child.key}}
       </div>
      </div>
  </div>
   </form>



       <pre>{{form.value | json}}</pre>

  <div *ngFor = "let parent of treeMainDs; let i = index">

   <div *ngFor = "let nig1 of form.value[parent.name]; let j = index" >
      <label> {{(this.form.value[parent.name])[j]}}
      </label>

    </div>
  </div>