

<br>







<pre>{{form.value | json}}</pre>








<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div *ngFor="let parent of treeMainDs; let j = index">
   
<div [formArrayName]="parent.name"
  *ngFor="let item of form.get(parent.name).controls; let i = index;">
  <div [formGroupName]="i">
    <div *ngFor="let exp of parent.childObj | keyvalue; ">
    <input [formControlName]="exp.key" [placeholder]="exp.key">
    </div>

     <div *ngIf = "!parent.hasChild">
    <input  [formControlName]="parent.name">
    </div>
   
  </div>

<!-- {{ form.controls.anqnlc1wnigreretData.controls[i].controls.sugNigreretInt.value }} -->
</div>
	</div>

        <button>Submit</button>

</form>



<br><br>

	<div *ngFor="let parent of form.controls |keyvalue ; let j = index">
   {{j}} :{{parent.key}}
    <div *ngFor="let item of form.get(parent.key).value[0]|keyvalue; let i = index;">   	
      {{item.value}}

   
  </div>
	</div>